<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードを変更するためのリンクがリクエストされました。以下のリンクから変更できます。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールが必要なければ無視してください。</p>
<p>上記のリンクにアクセスし新しいパスワードを作成するまではパスワードは変更されません.</p>
